In [2]:
print("HEllo world")

HEllo world

In [3]:
print('Hello Lu guys this is the assignment')

Hello Lu guys this is the assignment

In [4]:
print("Python's World")

Python's World

In [5]:
print("Hello\nPython")

Hello
Python

In [6]:
print("HEllo\aPython")

HElloPython

In [7]:
print("Hello\tPython")

Hello	Python

In [8]:
print("Hello\'s  world")

Hello's  world

In [19]:
name="Killua"
age=17
marks=90.86874
print("The name of the person is", name,"his age is",age,"and his marks is",marks)

The name of the person is Killua his age is 17 and his marks is 90.86874

In [20]:
Name="XYZ"
age=17
marks=78.999
print("The name of the person is",name,"his age is",age,"and marks is",marks)

The name of the person is XYZ his age is 17 and marks is 78.999

In [4]:
print("The name of the person is %4s his age is %4d and his marks is %5.lf"%(name,age, marks))

NameError: name 'name' is not defined

In [7]:
print("Then name of the person is %4s and age is %10d and marks is %5lf"%(name,age,marks))

NameError: name 'name' is not defined

In [8]:
print(f"The name of the person {Name} the marks is{marks} age is {age}")

NameError: name 'Name' is not defined

In [9]:
print("name")

name

In [18]:
name="gon"
age=17
marks=66.555
print("The name of the person is %4s his age is %4d his marks is %4lf "%(name,age,marks))

The name of the person is  gon his age is   17 his marks is 66.555000

In [11]:
print(f"The name of the person is {name} and his age is {age} and marks are {marks}")

The name of the person is gon and his age is 17 and marks are 66.5

In [19]:
x=y=10
x

10

In [20]:
x=20
id(x)

1776540176

In [21]:
y

10

In [22]:
10+20

30

In [23]:
33-45

-12

In [24]:
45-36

9

In [25]:
10/2

5.0

In [26]:
10/3

3.3333333333333335

In [27]:
10%3

1

In [28]:
45%3

0

In [29]:
47%3

2

In [35]:
a=10
b=30
a=!b

# the above equation does not give the output

In [36]:
a=10
b=20
a!=b

True

# the above equation give output when a!=b

In [37]:
a=240
b=1
a|b

241

In [38]:
bin(a)

'0b11110000'

# the above equation gives you the bits in which it is stored in the memory

In [39]:
bin(b)

'0b1'

In [40]:
a & b

0

In [41]:
a=10
b=10
a==b

True

In [42]:
a is b

True

In [43]:
id(a)

1776540016

In [44]:
id(b)

1776540016

# watch the videos and take the notes - reminder

In [45]:
x=1.5
y=1.5
x==y

True

In [46]:
x is y

False

In [47]:
id(x)

105476912

In [48]:
id(y)

105477056

In [49]:
a=257
b=257
a==b

True

In [50]:
a is b

False

# integer from -5 to 256  if you assign the same values for different integers it show you that it is same 
but if the values exceeds beyond 256.
then it is not equal or even it is less than the -5

In [51]:
10>9>8

True

In [52]:
10>8>9>7

False

In [53]:
a=10
b=20
a|b

30

In [54]:
10//3

3

In [55]:
str1="pythonprogramming"
"x"in str1

False

In [57]:
10>9 and 20>M

NameError: name 'M' is not defined

In [58]:
10<9

False

In [59]:
not true

NameError: name 'true' is not defined

In [60]:
10+10/29*4

11.379310344827587

In [61]:
10**3

1000

In [62]:
5**5

3125

In [63]:
32*5/96+37-45

-6.333333333333336

In [64]:
print("Hello\")

SyntaxError: EOL while scanning string literal (<ipython-input-64-249b6d162a32>, line 1)

In [65]:
print("Hello\a")

Hello